@font-face {
    font-family: "Concert One";
    src: local(Concert One), url(../public/fonts/Concert_One/ConcertOne-Regular.ttf) format("truetype");  
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: local(roboto), url(../public/fonts/Roboto/Roboto-Medium.ttf) format("truetype");  
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Concert One;
}
header{
    display: flex;
}
.titulo{
font-size:20px;
font-family: Concert One;
}

.texto_inicio{
    text-align: center;
    font-family: roboto;
    
}
.botao{
    color: white;
    background-color: black;
    margin-left: auto;
    padding: 5px 50px 5px 50px ;
    border-radius: 10px;
    height: 35px;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4);
    grid-gap: 15px;
}

.galeria_imagens{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.foto1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.foto2{
    grid-column-start:3 ;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:3 ;
}
.foto3{
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.foto4{
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.foto5{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:5 ;
}
.foto6{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.foto7{
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end:5 ;
}
.foto8{
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start:4 ;
    grid-row-end: 5;
}

.icon-container{
    position: relative;
}
.icons img:last-child{
    padding: 0 0 0 20px;
} 

.icons{
    display: flex;
    position: absolute;
    left: 1px;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.568);
}

.rodape{
    background-color: black;
    color: white;
}
.icons_rodape{
    width: 50px;
    height: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
.texto_fim{
    font-family: Concert One;
    text-align: left;
    text-indent: 20px;
    position: relative;
    margin: 0%;


}
.logo_rodape{
    padding-left: 50px;
    padding-right: 20px;
    position: relative;
    left: 250px;
    
}

